<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 pl-5">
                <br><br>
                <div class="row">
                    <img style="width: 20%;" src="~/Images/Logo.png" alt="">
                </div><br><br>
                <div class="row">
                    <div class="col-md-4 fp">
                        <h5 class="font-weight-bold">About Us</h5><br>
                        <h6>MogBazar, Rampura </h6>
                        <h6> Dhaka </h6>
                        <h6>Phone: 01785499257</h6>
                    </div>
                    <div class="col-md-4 fp">
                        <h5 class="font-weight-bold">Contact Us</h5><br>
                        <h6>FAQ</h6>
                        <h6>Shopping Instruction</h6>
                        <h6>Need Help</h6>
                    </div>
                    <div class="col-md-4 fp">
                        <h5 class="font-weight-bold">Privacy Policy</h5><br>
                        <h6>Privacy</h6>
                        <h6>Accessibility</h6>
                        <h6>Copyright</h6>
                        <h6>Disclaimer</h6>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12 fp">
                        <h6>Copyright &copy; All right reserved</h6>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-6 offset-6 offset-md-0 offset-sm-6">
                <img class="FImage" src="~/Images/Group 1.png" alt="">
            </div>
        </div>
    </div>
</footer>

